<p>hello, there</p>
<p>I'm introducing Breaking Bad movie's characters</p>

<table border="1">
    <thead>
    <td>ID</td>
    <td>Image</td>
    <td>Name</td>
    <td>Birthday</td>
    <td>Nickname</td>
    </thead>
    <tbody>
    <tr ng-repeat="char in characterCtrl.characters">
        <td>{{char.char_id}}</td>
        <td><img src="{{char.img}}" width="200px"></td>
        <td>{{char.name}}</td>
        <td>{{char.birthday}}</td>
        <td>{{char.nickname}}</td>
    </tr>
    </tbody>
</table>